src/main/java/proxy/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="EuroToDhConverterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="http://localhost:8080/eurotodhconverter?xsd=1"/>
</xsd:schema>
</types>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<message name="getListComptes">
<part name="parameters" element="tns:getListComptes"/>
</message>
<message name="getListComptesResponse">
<part name="parameters" element="tns:getListComptesResponse"/>
</message>
<portType name="EuroToDhConverterService">
<operation name="getCompte">
<input wsam:Action="http://example.org/EuroToDhConverterService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://example.org/EuroToDhConverterService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="conversion">
<input wsam:Action="http://example.org/EuroToDhConverterService/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://example.org/EuroToDhConverterService/conversionResponse" message="tns:conversionResponse"/>
</operation>
<operation name="getListComptes">
<input wsam:Action="http://example.org/EuroToDhConverterService/getListComptesRequest" message="tns:getListComptes"/>
<output wsam:Action="http://example.org/EuroToDhConverterService/getListComptesResponse" message="tns:getListComptesResponse"/>
</operation>
</portType>
<binding name="EuroToDhConverterServicePortBinding" type="tns:EuroToDhConverterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EuroToDhConverterServiceService">
<port name="EuroToDhConverterServicePort" binding="tns:EuroToDhConverterServicePortBinding">
<soap:address location="http://localhost:8080/eurotodhconverter"/>
</port>
</service>
</definitions>